<base-pattern>
    <table class="table">
        <tr>
            <th>背丈</th>
            <td>{ Measurements.BackCenterLength }</td>
        </tr>
        <tr>
            <th>胴囲</th>
            <td>{ Measurements.ChestGirth }</td>
        </tr>
    </table>
 <br />
</base-pattern>